body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(229, 165, 165);
}

header {
  margin: 0;
  text-align: center;
}

footer {
  margin: 0;
  text-align: center;
}

p {
  font-size: 1.5em;
}

.farah__header__container{
  display: block;
  margin: 0;
  border-bottom: 2px solid rosybrown;
  background-color: rgb(169, 127, 127);
}

.farah__nav__bar {
  display: flex;
  justify-content: space-between;
  font-size: 1.9em;
}

.farah__nav__bar nav {
  float: right;
  font-weight: 300;
}

.farah__nav__bar a:hover {
  color: rgb(53, 43, 43)
}

.farah__image {
  border-radius: 50%;
  width: 100%;
  height: 150%;
}

.farah__header__right__mobile {
  position: absolute;
  right: 2%;

}

.hamburger__button__mobile {
  width: 45px;
  border: 2px solid rosybrown;
}

.farah__nav__bar__vertical__right__mobile a:hover {
  color: rgb(53, 43, 43)
}

.farah__header__right__mobile {}

/* .farah__intro__container {
  display: grid;
  grid-template-columns: 2fr;
  grid-auto-rows: 500px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
} */
.farah__header__welcome {
  display: grid;
  grid-template-columns: 300px 900px;
  grid-template-rows: 300px;
  grid-gap: 5%;
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
  margin-left: 10%;
  margin-top: 5%;
}

.farah__image__banner {
  grid-column: 1 / 2;
  grid-row: 1 /2;
}

.meet__farah {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

@media screen and (max-width: 600px) {
  .farah__header__welcome {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    position: absolute;
    top: 7%;
    left: 35%;
  }
}

.farah__sassy__font__1 {
  font-family: 'Allison', cursive;
  font-size: 2em;
}

.farah__sassy__font {
  font-family: 'Allison', cursive;
  font-weight: 600;
}

.farah__header__link {
  text-decoration: none;
  color: white;
}


.farah__container__grid {
  margin-top: 15%;
  margin-left: 10%;
  margin-right: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 350px;
  grid-gap: 15px;

}

.farah__img__grid {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.farah__1 {
  grid-column: 1;
  grid-row: 1;
}

.farah__2 {
  grid-column: 2;
  grid-row: 1;
}

.farah__3 {
  grid-column: 3;
  grid-row: 1;
}

.farah__4 {
  grid-column: 1;
  grid-row: 2;
}

.farah__5 {
  grid-column: 2;
  grid-row: 2;
}

.farah__6 {
  grid-column: 3;
  grid-row: 2;

}

@media screen and (min-width: 600px) {
  .farah__header__right__mobile {
    display: none;
  }

  .farah__header__link__mobile {
    display: none;
  }

  .farah__header__welcome {}

  .farah__nav__bar__vertical__right__mobile {
    display: none;
  }
}

@media screen and (max-width:600px) {
  .farah__nav__bar a {
    display: none;
  }
}

@media (max-width: 1200px) {
  .hamburger__button__mobile {
    width: 45px;
    border: 2px solid rosybrown;
  }

}

/* @media screen and (max-width:1200px) {
  .farah__nav__bar a {
      display: none;
  }
} */

#button {
  position: absolute;
  top: 85px;
  left: 25px;
}

#popup__bg {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgb(159, 108, 108);
  width: 100%;
  height: 100%;
  display: none;
}

#popup__main__div {
  position: fixed;
  width: 800px;
  height: 500px;
  border: 2px solid rosybrown;
  border-radius: 5px;
  background-color: rgb(243, 182, 182);
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
}

#close__popup__div {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 25px;
  border: 2px solid black;
  text-align: center;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

#close__popup__div p {
  margin-top: 1px;
  font-family: sans-serif;
  font-weight: bold;
}

#js__popup {
  text-align: center;
  font-size: 30px;
  font-family: sans-serif;
  background-color: rosybrown;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0;
  border-bottom: 2px solid black;
}

#javascript__desc {
  font-family: sans-serif;
  text-align: left;
  margin-top: 30px;
}

.farah__footer__template {
  display: inline-block;
  border-top: 2px solid rosybrown;
  border-bottom: 2px solid rosybrown;
  color: #fff;
  background-color: rgb(169, 127, 127);
  padding-top: 1%;
  padding-left: 5%;
  padding-right: 2%;
  width: 100%;
}

.banner {
  height: 400px;
  background-color: gray;
  font-size: 5em;
  text-align: center;
  color: white;
}

/* cov-19 images */

/* farrtech survey form only */
.main {
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;
}

#title {
  margin-top: 40%;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  position: relative;
  text-align: center;
}

.main__content {
  margin: 5%;
  border: 2px solid black;
}

.form__content {
  padding: 5%;
  background-color: blanchedalmond;
}

#survey__form {
  font-family: Arial, Helvetica, sans-serif;
}

input [type="radio"] {
  margin: 0 10px 0 10px;
}

input [type="checkbox"] {
  margin: 0 10px 0 10px;
}

#description {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  text-align: center;

}